table{
    background-color: blue;
    height: 70vh;
    width: 100%;
    font-size: xx-small;
    justify-content: center;
    align-content: center;
     justify-content: space-between;
}

tbody{
    background-color: red;
    height: 40vh;
    width: auto;
    color: green;
}
